{% extends "base.html" %} {% block title %} Auth - {{ page_title }} {% endblock %}
{% block content %}

<div class="authWrap">
  <div class="authCard">
    <h2>{{page_title}}</h2>

    {% block auth_form %} {% endblock %}

    <div class="authSwitch">
                {% if mode == "login" %}
                        <a href="{{ url_for('main.register') }}" >Signing up?</a>
             `   {% elif mode == "Sign Up" %}
                        <a href="{{ url_for('main.login') }}">Logging in?</a>
                {% endif %}
    </div>
  </div>
</div>

{% endblock %}
